<!-- templates/base_generic.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Добавляем тег static для загрузки файлов -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/users/profile/">Profile</a>
            <!-- Добавь другие ссылки -->
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Содержимое страницы будет вставляться сюда -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>
